<h1>Meu Primeiro Card com Angular Material</h1>
<mat-card>
  <mat-card-header>
    <mat-card-title>Título do Card</mat-card-title>
    <mat-card-subtitle>Subtítulo do Card</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="https://cdn4.iconfinder.com/data/icons/top-search-7/128/_web_Internet_network_www_communication_global_worldwide-512.png"
    alt="Imagem de exemplo" [style.width.px]="200" [style.height.px]="200">
  <mat-card-content>
    <p>
      Este é um exemplo de card usando Angular Material. O Angular Material é uma biblioteca
      de componentes
      que segue as diretrizes do Material Design.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Curtir</button>
    <button mat-button>Compartilhar</button>
  </mat-card-actions>
</mat-card>
Run HTML